@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap');
body{
    font-family: "Titillium Web";
    color: #ffffff;
    overflow-x: hidden;
}
                                                            /* HEADER */
header{
   background-color: #87509c;
   padding-top:50px;
}
header section,
footer section {
    padding: 0;
}
.wrapper{
    max-width: 1140px;
    width: calc(100% - 40px);
    margin: 0 auto;
    overflow: hidden;
}
.container{
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_line{
    /* margin-top:20px; */
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e5373;
    z-index: 2;
}
.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header_logo {
    z-index: 3;
}
.header_logo img{
    max-width: 100%;
    display: block;
}
.header_burger {
    display:none;
}
.header_burger.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.header_burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.header_burger.active span{
    transform: scale(0);
}
.header_list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header_list li{
    list-style: none;  
    margin-left: 20px;
    padding: 9.5px 15px;
}
.header_link {
    color:inherit;
    text-transform: uppercase;
    text-decoration: none;
    transition:  background-color 300ms ease-in-out;
    margin: 0 1px;
}
 .header_menu {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.header_menu ul li.active{
    background-color: #643a79;
    border-radius: 3px;
}
.header_menu ul li:hover{
    background-color: #643a79;
    border-radius: 3px;
    transition: background-color 300ms ease-in-out;
} 
.button_line{
    text-align: center;
    padding: 120px 85px 140px 85px;
}
.button_line h1{
    color: #f7f3ea; 
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 50px;
}
.button{
    height: 65px;
    background-color: #eb7d4b;
    color: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0.027em;
    border: none;
    border-bottom: 4px solid#c86a40;
    overflow: hidden;
    border-radius: 3px;
    padding-left: 80px;
    padding-right: 80px;
    transition: background-color 300ms ease-in-out;
}
.button_line .button:hover{
    background-color: #c86a40;
    transition: background-color 300ms ease-in-out;
}
                                                            /* SERVICES */
section{
    padding: 120px 0;
    text-align: center;
}                                                            
.services {
    background-color: #17c2a4;
}
h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}
h2::after{
    content: "";
    display: block;
    width: 86px;
    height: 4px;
    background-color:rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 500ms ease-in-out;
}
h2:hover::after{
    transform: scaleX(6);
    transition: all 500ms ease-in-out;
}

.description{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin-bottom: 70px;
} 
 .services_list {
    display: flex;
    justify-content: space-between;
}
 .service_item{
    width: calc(25% - 15px);
    box-sizing: border-box;
} 
.img{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
}
.item_title{
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 27px; 
} 
.item_description{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 0 30px;
    box-sizing: border-box;
} 
                                                                /* CONTACT */
.contact{
    background-color: #3c5499;
}                                                              
.contact_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 856px;
    margin: 0 auto;
}
.contact_form input[type="text"],.contact_form input[type="email"]{
    width: calc(50% - 16px);
    margin-bottom: 25px;
    height: 56px;
    border-radius: 5px;
    background-color: #273a71;  
    border: none;
    color: inherit;
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px; 
    font-family: "Titillium Web"
}
.contact_form input::placeholder,
.contact_form textarea::placeholder{
    font-size: 18px;
    color: #ffffff;
}  
.contact h2:hover::after{
    transform: scaleX(4.5);
    transition: all 500ms ease-in-out;
}
textarea{
    width: 100%;
    margin-bottom: 50px; 
    background-color: #273a71; 
    height: 200px;
    border: none;
    color: inherit;
    border-radius: 5px;
    resize: none;
    padding-top:24px;
    box-sizing: border-box;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px; 
    font-family: "Titillium Web"
} 
.contact_form .button{
    margin: 0 auto;
    background-color: #30bae7;
    border-bottom: 4px solid#299ec4;
}
.contact_form .button:hover{
    background-color: #299ec4;
    transition: background-color 300ms ease-in-out;
} 
                                                                     /* FOOTER */
footer{
    background-color: #344b8e;
}
footer ul{
    min-height: 110px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing:0.02em;
}
footer ul a{
    text-decoration: none;
    color:inherit;
}
footer ul a:hover{
    color: #30bae7;
}
                                                                                        /* Responsive */
@media (max-width: 1200px){
    
}
@media (max-width: 992px){
    .scroller-container {
        overflow-y: auto;
    }
    .scroll-menu-wrapper {
        display: none;
    }
    .services_list {
        flex-wrap: wrap;
    }  
    .service_item {
        width: calc(50% - 15px);
        margin-top: 15px;
    }
    footer{
        padding: 15px 0;
    }
    footer ul{
        flex-wrap: wrap;
    }
    footer ul li{
        width: calc(25% - 15px);
    }
}
@media (max-width: 768px){
    .top_line{   
        position: fixed;
        z-index: 1;
        width:  100%;
        left: 0;
        right:0;
        top: 0;
        margin-top: 20px; 
    }
    .button_line {
        padding: 15px;
        padding-bottom: 40px;
    }
    section{
        padding: 60px 0;
    }
    .description {
        margin-bottom: 20px;
    }
    body.lock{
        overflow: hidden;
    }
    .header_body {
        height: 50px;
    }
    .header_logo {
        flex: 0 0 40px;
    }
    .header_burger {
        display:block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0; 
        transition: all 0.3s ease 0s;
    }  
    .header_burger::before{
        top: 0;
    }  
    .header_burger::after{
        bottom: 0;
    }
    .header_menu{
       position: fixed;
       left: 0;
       top: -100%;
       width: 100%;
       height: 100%;
       background-color:rgba(24,181,164,0.8);
       padding: 60px 0 20px 0;
       transition: all 0.3s ease 0s;
       overflow:auto;
    }
    .header_list li{
        margin-left:0;
        padding: 9.5px 8px;
    }
    .header_menu.active{
        top: 0;
    }
    .header_list{
        display: block;
    }
    .header_list li{
        margin-top: 20px;
    }
    .header_link{
        font-size: 24px;
    }
    .content {
        padding-top:70px;
    }
    .button_line{
        padding-top: 100px;
    }
}
@media (max-width: 576px){
    .section {
        padding: 30px 0;
    }  
    .button_line {
        padding-top: 60px;
    }  
    .button_line h1{
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    h2{
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 20px;
        padding-bottom: 15px;
        width: 100%;
    }
    .wrapper{
        width: calc(100% - 20px);
    }
    .service_item {
        width: 100%;
    }
    .img {
        margin-bottom: 30px;
    }
    .item_title {
        margin-bottom: 15px;
    }
    .item_description{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #0f7e6a;
    }
    .description {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .contact_form input[type="text"], .contact_form input[type="email"] {
        width: calc(50% - 5px);
        margin-bottom: 15px;  
        font-size: 12px;
    }
    .contact_form input::placeholder,
    .contact_form textarea::placeholder{
        font-size: 12px;
    }  
    textarea{
        width: 100%;
        margin-bottom: 25px; 
        height: 150px;
        font-size: 12px;
    } 
    .button{
        height: 45px;
        font-size: 16px;
        line-height:45px;
        padding:0 50px;
        transition: background-color 300ms ease-in-out;
    }
    .button_line {
        padding-bottom: 10px; 
    }
    footer ul{
        min-height: 50px;
        display: flex; 
        font-size: 14px;
    }
    footer ul li{
        width: calc(26% - 15px);
    }
    footer {
        padding:0;
    }
    .header_logo{
        width: 100px;
        height: auto;
    }
    .header_link {
        font-size: 18px;
    }
}
                                                                                        
                                                                                        